:root {
    --shield-border-color: #111;
}

.shield {
    height: 200px;
    width: 200px;
    border: 2px solid var(--shield-border-color);
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.plus {
    background: gray;
    height: 30px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.plus:after {
    background: gray;
    content: "";
    height: 8px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}


.shield.assigned {
    background-color: #ffffff;
    /* Grey background for assigned bands */
    border: 2px solid black;
    /* Black border for assigned bands */
}

.band-name {
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    padding: 2px;
    line-height: 1.1;
}


/* Specific styles for each shield */
.shield-fmm {
    background-color: #707070 !important;
}

.shield-idpb {
    background-color: #182841 !important;
}

.shield-shotts {
    background-color: #1d2b5c !important;
}

.shield-psf {
    background-color: white !important;
}

.shield-slot {
    background-color: white !important;
}

.shield-boghall {
    background-color: white !important;
}

.shield-power {
    background-color: white !important;
}

.shield-ravara {
    background-color: #020042 !important;
}

.shield-closkelt {
    background-color: white !important;
}

.shield-johnstone {
    background-color: white !important;
}

.shield-78fh {
    background-color: white !important;
}

.shield-thomas {
    background-color: white !important;
}

.shield-sfu {
    background-color: #c62132 !important;
}

.shield-manawatu {
    background-color: #404040 !important;
}